Package: daybook
Version: 0.1.0-alpha
Section: base
Priority: optional
Architecture: all
Build-Depends: dh-python
Depends: python3, python3-argcomplete, python3-dateparser, python3-prettytable
Maintainer: Bo Cimino <ciminobo@protonmail.com>
Changed-By: Bo Cimino <ciminobo@protonmail.com>
Description: daybook
 A flexible and powerful tool for command-line double-entry bookkeeping.
